{% extends "layout.twig" %}
{% block topmenu %}
{% set page = 'home' %}
{{ parent() }}
{% endblock %}
{% block content %}
<header class="jumbotron subhead">
    <h1>Visual Radius  <small>v3.0</small></h1>
    <p class="lead">A tool for visualising RADIUS data</p>
</header>
<div class="row">
    <div class="span8">
        <form method="post" action="{{ app.url_generator.generate('generate') }}" class="form-horizontal modalform">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="input01">Output to: </label>
                  <div class="controls">
                    <input type="radio" name="save" value="1" id="file" class="input-xlarge"/>
                    <label for="file" style="display:inline"><i class=" icon-file"></i> File</label><br />
                    <input type="radio" name="save" value="0" id="screen" checked="checked" class="input-xlarge"/>
                    <label for="screen" style="display:inline"><i class="icon-fullscreen"></i> Screen</label>
                  </div>
              </div>

            <div class="control-group">
                <label class="control-label" for="decorator-condense">Condense: </label>
                  <div class="controls">
                    <input type="checkbox" name="decorator-condense" checked="checked"/>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">View Time: </label>
                  <div class="controls">
            <select name="viewStart">
                <option value="0">From:</option>
                {%for i in 0..23 %}
                <option value="{{i}}">{{"%02d:00"|format(i)}}</option>
                {% endfor %}
            </select>

            <select name="viewEnd">
                <option value="24">To:</option>
                {%for i in 1..23 %}
                <option value="{{i}}">{{"%02d:00"|format(i)}}</option>
                {% endfor %}
                <option value="24">00:00</option>
            </select>
        </div>
    </div>

            <div class="control-group">
                <label class="control-label" for="input">Paste in here: <i class="icon-hand-right"></i></label>
                  <div class="controls">
                    <textarea name="pastedRecords" cols="30" rows="10" class="input-xlarge"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" name="submit" value="Submit &raquo;" class="btn btn-primary btn-large"/>
            </div>

            </fieldset>

        </form>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Generated Image</h3>
          </div>
          <div class="modal-body">
            <img src="">
          </div>
          <div class="modal-footer">
            <form method="post" action="{{ app.url_generator.generate('generate') }}" class="form-horizontal" id="seekrit-form">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="save-button">Save Image</button>
            </form>
          </div>
        </div>
    </div>

    <div class="span4">
        <div class="well">
            <h3>Usage</h3>
            <p>Paste records in here from the RADIUS page in Workplace.  Last time I tried it, IE didn't work properly because of the way it pastes tables (no tab characters).  Chrome and Firefox work ok though.</p>
            <h3>Options</h3>
            <dl>
                <dt>Output To</dt>
                <dd>Select <i>Screen</i> to see the results straight away in your browser, the image is not saved.
                    Select <i>File</i> To save the generated image, so it can be pasted into to ticket.</dd>
                <dt>Condense</dt>
                <dd>Squashes down sessions or gaps which span multiple days.</dd>
                <dt>View Time</dt>
                <dd>Restrict the time shown in the image.</dd>
            </dl>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{{root}}assets/js/bootstrap-modal.js"></script>
<script src="{{root}}assets/js/visradius.js"></script>
{% endblock %}
